/* #region Root */

:root {
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
    --red: #d9121f;
    --yellow: #ffae00;
    --green: #51d466;
    --blue: #1349b2;
}

*,
::before,
::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

li {
    display: block;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1080px;
}

.show {
    display: block;
}

.hide {
    display: none;
}



/* #endregion */

/* #region Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 3rem;
    padding: 1em 0;
    text-align: center;

    background-color: yellow;
}

/* #endregion */

/* #region Navigation */

.nav {
    background-color: rosybrown;
    cursor: pointer;
}

.nav-menu-categories {
    display: flex;
    justify-content: space-between;
    border: 0;
    background-color: transparent;
    width: 100%;
    padding: 0.25em 1em;
}

.nav-menu-categories:hover {
    background-color: red;
    color: white;
    transition: 0.5s;
}

.nav-menu-categories > p {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.nav-menu-categories > p + p {
    font-size: 3rem;
}

.nav-menu {
    margin: 0;
    padding-left: 0;
    border: 1px solid #ccc;
    list-style: none;
    background-color: black;
    color: white;
}

.nav-menu > li + li {
    border-top: 1px solid #ccc;
}

.nav-menu > li > a {
    display: block;
    padding: 0.8em 1em;
    color: white;
    font-weight: normal;
    text-decoration: none;
}

.nav-menu > li > a:hover {
    text-decoration: underline;
}

.nav-menu > li > a {
    display: block;
    padding: 0.8em 1em;
    color: white;
    font-weight: normal;
    text-decoration: none;
}

@media screen and (min-width: 50em) {
    .nav-menu {
        padding: 0 4em;
    }
}

@media screen and (min-width: 40em) {
    .nav-menu-categories {
        display: none;
    }

    .nav-menu-dropdown {
        display: block;
    }

    .nav-menu {
        display: flex;
        border: 0;
        padding: 0 1em;
    }

    .nav-menu > li {
        flex: 1;
    }

    .nav-menu > li + li {
        border: 0;
    }

    .nav-menu > li > a {
        padding: 0.3em;
        text-align: center;
    }
}

/* #endregion */

/* #region Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-games,
.main-games-choices, 
.left-right-buttons {
    display: flex;
    justify-content: center;
}

    /* #region Main-info */



    /* #endregion */

    /* #region Main-how-it-works */

.main-how-it-works-all {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-how-it-works-one {
    margin: 1em;
    border: 2px solid black;
    border-radius: 10px;
}

.main-how-it-works-one.red > p:first-child {
    color: var(--red);
}

.main-how-it-works-one.yellow > p:first-child {
    color: var(--yellow);
}

.main-how-it-works-one.green > p:first-child {
    color: var(--green);
}

.main-how-it-works-one.blue > p:first-child {
    color: var(--blue);
}

.main-how-it-works-one.red:hover {
    background-color: var(--red);
    border: 2px solid var(--red);
    transition: 0.5s;
}

.main-how-it-works-one.yellow:hover {
    background-color: var(--yellow);
    border: 2px solid var(--yellow);
    transition: 0.5s;
}

.main-how-it-works-one.green:hover {
    background-color: var(--green);
    border: 2px solid var(--green);
    transition: 0.5s;
}

.main-how-it-works-one.blue:hover {
    background-color: var(--blue);
    border: 2px solid var(--blue);
    transition: 0.5s;
}



    /* #endregion */

    /* #region Main-games */

.main-games {
    flex-direction: column;
    flex-wrap: wrap;
}

.main-games-choices > p {
    cursor: pointer;
    margin: 1em;
    color: #888;
}

.main-games-choices > p:hover {
    color: black;
}

.main-games-choice.choice {
    color: black;
    border-bottom: solid 2px red;
}

figure {
    display: inline-block;
    border: 2px solid white;
    text-align: center;
    max-width: 300px;
    padding: 1em;
}

figure:hover {
    border: 2px solid red;
    cursor: pointer;
}

.left-right-buttons > button {
    margin: 1em;
}

    /* #endregion */

/* #endregion */

/* #region Footer */

footer {
    background-color: greenyellow;
}

/* #endregion */
